/* Contenido general */

@font-face {
    font-family: 'Slackey';
    src: url(/tipografías/Slackey-Regular.ttf);
}

@font-face {
    font-family: 'SourceCode';
    src: url(/tipografías/SourceCodePro-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --rosa: #FF5ED2;
    --rosa-oscuro: #FF0060;
    --blanco: #FFFFFF;
    --amarillo: #F6ED57;
    --azul: #1E33EF;
    --verde: #38D075;
    --tipo-titulo: 'Slackey';
    --texto: 'SourceCode';
}

/*Fin contenido general*/
/**/
/*index.html*/

.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    font-family: var(--tipo-titulo);
}

.color-index {
    background-color: var(--rosa);
}

.encabezado-index {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}

.cont-smily {
    width: 12%;
}

.smily {
    width: 100%;
}

.titulo-encabezado {
    font-size: clamp(0.7em, 5vw, 5em);
}

.cont-voicer {
    width: 12%;
    
}

.voicer {
    width: 80%;
    margin-top: 1%;
}

/* main index.html */

.contenido-index {
    width: 100%;
    min-height: 49vh;
    display: flex;
    flex-flow: row;
}

.reproductor {
    width: 50%;
    height: 40%;
    background-color: var(--rosa-oscuro);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.reproductor-des {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2em;
    text-align: center;
}


.container-play {
    width:
        70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.btn-repro {
    width: 100%;
}

.btn-repro>img {
    width: 100%;
}

.reproductor>img {
    margin-top: 0%;
    height: 100%;

}

.container-mus {
    width: 25%;
    height: 60%;
    position: absolute;
    top: 30%;
    left: 24%;
    transform: translate(-50%, -10%);


}

.container-mus>img {
    width: 100%;
    height: 100%;
    background-size: cover;


}

.cont-caratula-index {
    height: 100%;
}

.caratula-index {
    height: 100%;
}


/*Footer index.html*/

.piedepag-index {
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
}

.cont-footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5%;
}

.btn-reservar {
    width: 40%;
    height: 40%;
    border: none;
    background-color: var(--rosa-oscuro);
    border-radius: 5vw;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}


.btn-reservar::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--azul);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-reservar:hover::before {
    scale: 3;
}

.btn-reservar:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px var(--azul);
}

.btn-reservar:active {
    scale: 1;
}

.reserva-des {
    color: var(--blanco);
    font-size: clamp(0.7em, 3vw, 3em);
    font-family: var(--tipo-titulo);
    
}

.sub-navegador {
    width: 15%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.sub-menu {
    list-style: none;
    color: black;
    text-decoration: none;
    font-family: 'SourceCode';
}



.list-menu {
    font-size: clamp(0.7em, 1.2vw, 1.4em);
    text-align: center;
}

.list-menu>a {
    color: black;
}

.usuario {
    width: 10%;
}

/*FIN index.html*/
/**/
/*reserva.html*/

.color-reserva {
    background-color: var(--amarillo);
}
/* 
.hero-reserva {
    width: 100%;
    height: 48%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mes-reserva{
    width: 60%;
    height: 100%;
    border: 2px solid red;
}

.art-reser {
    width: 100%;
    height: 85%;
    margin: 1% 21% 0 21%; 
    background-color: var(--azul);
    border-radius: 25px;
    border: 2px solid red;
}

#mes {
    text-align: center;
    font-size: 2.5em;
    color: white;
    background: #000;
}

.table-reser {
    width: 100%;
    height: 90%;
    text-align: center;
    color: white;
}

.table-head {
    font-size: 1.7em;
}

.table-col {
    font-size: 1.3em;
}

.table-col:hover {
    background-color: #000000;
    border-radius: 5px;
}

.botonera-reserva {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-block-start: 9%;
}

.btn-botonera {
    width: 25%;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.btn-reserva {
    background-color: #38D075;
} */


.hero-reserva {
    width: 100%;
    height: 48vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.mes-reserva {
    width: 60%;
    height: 85%;
    background-color: var(--azul);
    border-radius: 25px;
}

.art-reser {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

#mes {
    text-align: center;
    font-size: 2em;
    color: white;
}

.table-reser {
    width: 100%;
    color: white;
    text-align: center;
}

.table-head {
    font-size: 1.7em;
    color: black;
}

.table-col {
    font-size: 1.3em;
}

.table-col:hover {
    background-color: #000000;
    border-radius: 5px;
}


.botonera-reserva {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-block-start: 1%;
}

.btn-botonera {
    width: 25%;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.btn-reserva {
    background-color: #38D075;
}

/*Footer reserva.html*/
.cuadro-repro {
    background-color: var(--rosa-oscuro);
    width: 30%;
    height: 18vh;
    display: flex;
    border-radius: 3px;
}

.repro-des {
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.title-cancion{
    font-size: 1.1em;
}

.repro-play {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.repro-play>button>img {
    width: 50%;
}

.caratula-reserva {
    width: 32%;
}

.caratula-img {
    height: 100%;
    float: right;
}

/*FIN reserva.html*/
/**/
/*Inicio cancion.html*/

.color-cancion {
    background-color: var(--verde);
    transition: background .4s ease-in;
}

.hero-cancion {
    height: 48vh;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cancion-title {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 3%;
    font-size: 1.3em;
}

.cancion-con {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.card-des {
    width: 65%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around; 
    padding: 2%;
    
}

.cancion-des {
    width: 100%;
    font-size: 1em;
    font-family: var(--texto);
}

.btn-play {
    width: 15%;
}

.cancion-img {
    width: 30%;
}

.caratula {
    width: 100%;
    height: auto;
}

.container-cancion {
    width: 100%;
}

.art-cancion {
    width: 40%;
    height: 90%;
    margin: auto;
    background-color: #de2dac;
    border-radius: 25px;
    position: absolute;
    transition: transform .4s ease;
}

.itarjeta {
    display: none;
}

#item-1:checked~.cards #song-10,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2,
#item-4:checked~.cards #song-3,
#item-5:checked~.cards #song-4,
#item-6:checked~.cards #song-5,
#item-7:checked~.cards #song-6,
#item-8:checked~.cards #song-7,
#item-9:checked~.cards #song-8,
#item-10:checked~.cards #song-9 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-4,
#item-4:checked~.cards #song-5,
#item-5:checked~.cards #song-6,
#item-6:checked~.cards #song-7,
#item-7:checked~.cards #song-8,
#item-8:checked~.cards #song-9,
#item-9:checked~.cards #song-10,
#item-10:checked~.cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3,
#item-4:checked~.cards #song-4,
#item-5:checked~.cards #song-5,
#item-6:checked~.cards #song-6,
#item-7:checked~.cards #song-7,
#item-8:checked~.cards #song-8,
#item-9:checked~.cards #song-9,
#item-10:checked~.cards #song-10 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}


/*FIN cancion.html*/
/*
 * MEDIA QUERY
 */

 @media (max-width:1024px) {
    .caratula-img {
        height: 100%;
    }

    .titulo-can{
        font-size: 0.9em;
    }

    .texto-can{
        font-size: 0.7em;
    }
 }

@media (max-width:700px) {

    .reproductor {
        width: 75%;
        height: 25%;
    }

    .reproductor-des {
        gap: 0.5em;
    }

    .reproductor-title {
        font-size: 1em;
    }

    /*reserva.html*/
    .table-head {
        font-size: 1.1em;
    }

    .table-col {
        font-size: 1em;
    }

    /*cancion.html*/
    
    .footer-cancion{
        display: flex;
        flex-flow: column;
        gap: 15%;
    }

    .smily-cancion{
        opacity: 0;
    }
}