/* Contenido general */

@font-face {
    font-family: 'Slackey';
    src: url(/tipografías/Slackey-Regular.ttf);
}

@font-face {
    font-family: 'SourceCode';
    src: url(/tipografías/SourceCodePro-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --rosa: #FF5ED2;
    --rosa-oscuro: #FF0060;
    --blanco: #FFFFFF;
    --amarillo: #F6ED57;
    --azul: #1E33EF;
    --verde: #38D075;
    --tipo-titulo: 'Slackey';
    --texto: 'SourceCode';
}

/*Fin contenido general*/
/**/
/*index.html*/

.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    font-family: var(--tipo-titulo);
}

.color-index {
    background-color: var(--rosa);
}

.encabezado-index {
    width: 90%;
    height: 24%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}

.cont-smily {
    width: 12%;
    height: 12%;
    display: flex;
    align-items: center;
}

.smily {
    width: 90%;
}

.titulo-encabezado {

    font-size: clamp(0.7em, 5vw, 5em);
}

.cont-voicer {
    width: 12%;
}

.voicer {
    width: 80%;
    margin-top: 1%;
}

/* main index.html */

.contenido-index {
    width: 100%;
    height: 48%;
    display: flex;
    flex-flow: row;
}

.reproductor {
    width: 50%;
    height: 40%;
    background-color: var(--rosa-oscuro);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.reproductor-des {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2em;
    text-align: center;
}


.container-play {
    width:
        70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.btn-repro {
    width: 100%;
}

.btn-repro>img {
    width: 100%;
}

.reproductor>img {
    margin-top: 0%;
    height: 100%;
}

.container-mus {
    width: 25%;
    height: 60%;
    position: absolute;
    top: 30%;
    left: 24%;
    transform: translate(-50%, -10%);
}

.container-mus>img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cont-caratula-index {
    height: 100%;
}

.caratula-index {
    height: 100%;
}

/*Footer*/

.piedepag-index {
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
    background-color: var(--rosa);
}


.cont-footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5%;
}

.btn-reservar {
    width: 40%;
    height: 40%;
    border: none;
    background-color: var(--rosa-oscuro);
    border-radius: 5vw;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-reservar::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--azul);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-reservar:hover::before {
    scale: 3;
}

.btn-reservar:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px var(--azul);
}

.btn-reservar:active {
    scale: 1;
}

.reserva-des {
    color: var(--blanco);
    font-size: clamp(0.7em, 3vw, 3em);
    font-family: var(--tipo-titulo);
}

.sub-navegador {
    width: 15%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.sub-menu {
    list-style: none;
    color: black;
    text-decoration: none;
    font-family: 'SourceCode';
}

.list-menu {
    font-size: clamp(0.7em, 1.2vw, 1.4em);
    text-align: center;
}

.list-menu>a {
    color: black;
}



/*FIN index.html*/



/*
 * MEDIA QUERY
 */

 @media (max-width:320px) {

    .reproductor {
        width: 75%;
        height: 25%;
    }

    .reproductor-des {
        gap: 0.5em;
    }

    .reproductor-title{
        font-size: 1em;
    }
}
